body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sweet-alert-font {
  font-family: 'Inter', sans-serif;
  /* Wrap font name in single quotes */
}

.sweet-alert-button {
  background-color: #0D4EA6;
  /* Removed quotes around color */
  color: #FFFFFF;
  /* Removed quotes around color */
}